server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:tarot}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER:tarot-admin}
    password: ${DB_PASSWORD:fn5YW95BMyL}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  security:
    jwt:
      # generate with: openssl rand -base64 64
      secret: ${APP_SECURITY_JWT_SECRET:fn5YW95BMyLM8t1GWdxppPIVnfH1MiUsiKiSeN07batuciO1qLbIORBuT145B2}
      expiration-ms: ${APP_SECURITY_JWT_EXPIRATION_MS:86400000}
    refresh:
      expiration-days: ${APP_SECURITY_REFRESH_EXPIRATION_DAYS:30}
  subscription:
    activation-secret: "change-me"
